@font-face {
    font-family: "Gilroy-Bold";  
    src: url("../assets/fonts/Gilroy-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Medium";  
    src: url("../assets/fonts/Gilroy-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

.top-nav {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    font-family: Gilroy-Bold;
    font-size: 18px;
}

.top-nav a {
    text-decoration: none;
    color: #828282;
}

.top-nav a:hover{
    color: black;
}

.top-nav li {
    list-style-type: none;
}

.hat {
    width: 940px;
    border-bottom: 1px #828282 solid;
    margin: 0 auto;
}

.menu {
    display: none;
}

.main-info {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.name {
    font-size: 47px;
    font-family: Gilroy-Bold;
}

.about-author {
    position: relative;
    top: 95px;
    font-family: Gilroy-Medium;
    font-size: 18px;
}

.lang-switcher {
    transform: rotate(-90deg);
    height: fit-content;
    position: relative;
    top: 115px;
    left: 18px;
}

button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #828282;
}

button:hover {
    color: black;
}

.lang-ru {
    padding-right: 3px;
    border-right: 1px #000 solid;
}


.author-photo {
    display: flex;
    justify-content: center;
    height: 387px;
    width: 943px;
    margin: 0 auto;
}

.author-photo img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 510px;
    width: 943px;
    object-fit: cover;
}


.cv-wrapper {
    position: relative;
    top: 104px;
    font-family: Gilroy-Bold;
    text-align: center;
}

.cv {
    margin-top: 120px;
    margin-bottom: 18px;
}

.cv-title {
    font-size: 34px;
}

.cv-text {
    font-family: Gilroy-Medium;
    font-size: 18px;
}

.skills {
    position: relative;
    top: 198px;
    font-family: Gilroy-Bold;
    text-align: center;
}

.skills-title {
    font-size: 34px;
}

.skills-text {
    font-family: Gilroy-Medium;
    font-size: 18px;
}

.ps-logo {
    width: 728px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 250px;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;
}

.figma {
    margin-bottom: 30px;
}

.rating {
    margin: 0 auto;
}

.rating span {
    position: relative;
    top: 41px;
    right: 5px;
    padding: 0px;
    font-size: 26px;
    margin: 0 3px;
    line-height: 1;
    color: #E5E5E5;
}

.rating > span:before {
    content: '★';
}

.rating > span.active {
    color: #000;
}

.portfolio {
    position: relative;
    top: 440px;
    font-family: Gilroy-Medium;
    text-align: center;
}

.portfolio-title {
    font-size: 34px;
}

.design-png {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 510px;
    width: 943px;
    margin-top: 99px;
    margin-bottom: 44px;
}

.link {
    font-size: gilroy-bold;
    font-size: 18px;
    text-align: center;
    color: #000;
}

.contacts {
    position: relative;
    top: 600px;
    font-family: gilroy-bold;
    text-align: center;
}

.contacts-title {
    font-size: 34px;
}

.contacts-text {
    font-family: Gilroy-Medium;
    font-size: 18px;
}

.contacts-button {
    width: 181px;
    height: 42px;
    position: relative;
    top: 25px;
    font-family: Gilroy-Bold;
    font-size: 18px;
    color: white;
    background-color: #000;
    border-color: #000 solid;
    border-width: 180px;
    border-radius: 40px;
}

.contacts-button:hover {
    color: white;
}

.contacts-logo {
    list-style: none;
    width: 728px;
    margin: 0 auto;
    position: relative;
    top: 750px;
    display: flex;
    justify-content: space-evenly;
}

.contacts-text-logo {
    position: relative;
    margin-top: 800px;
    margin-bottom: 250px;
    font-family: Gilroy-Medium;
    font-size: 14px;
    color: #828282;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .hat {
        display: none;
    }

    .lang-switcher {
        display: none;
    }
}


@media all and (max-width: 600px) {
    .name {
        margin-left: 48px;
    }

    .adobe-program:not(:last-child) {
        margin-bottom: 100px;
    }

    .rating {
        margin-top: 40px;
    }
    
    .main-info {
        position: relative;
        left: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 300px;
    }

    .about-author {
        margin-left: 48px;
        position: relative;
        top: 5px
    }

    .author-photo {
        margin: 0 auto;
        width: 316px;
        height: 478px;
    }

    .ps-logo {
        display: flex;
        flex-direction: column;
        width: 378px;
    }

    .rating {
        position: relative;
        bottom: 50px;
    }

    .design-png {
        height: 171px;
        width: 316px;
    }

    .contacts-button {
        width: 316px;
    }

    .contacts-logo {
        width: 375px;
        position: relative;
        top: 700px;
    }

    .contacts-text-logo {
        margin-top: 750px;
    }

    body {
        margin: 0;
    }

    .menu { 
        list-style: none;
        display: contents;
        width: 10px;
    }

    .border {
        border-top: 4px #000 solid;
        margin-bottom: 6px;
        width: 40px;
        position: relative;
        bottom: 225px;
        left: 330px;
    }
}